.container{
    width:300px;
    height:200px;
    background-color:#0B2429;
  }
  div{
    background-color:#F3AC3C;
    width:60px;
    height:60px;
  }
  .c1{
    border-radius:50px;
    position:absolute;
    left:184px;
    top:60px;
  }
  .c2{
    border-radius:50px 0px 50px 50px;
    background-color:#998235;
    position:absolute;
    left:160px;
    top:80px;
  }
  .c3{
    border-radius:50px 0px 50px 50px;
    position:absolute;
    left:130px;
    top:100px;
  }